@media only screen and (max-width: 500px){
	.container{
		width: 100% !important;

		.active{
			background-color: #388285;
			border: none !important;
			padding: 10px 0;
			color: #fff;  
		}
		
		.table{
			.row{
				&:hover{
					background-color: #fff;
				}
				.primary{
					float: left;
					width: 100%;
					.col{
						width: 100%;
						&:not(.important){
							display: none;
						}
					}
				}
			}
		}
		.secondary{
		    background: #fff;
		    width: 100%;
			
			.col{
				float: left;
			    height: 28px;
				width: 50%;
			}
		}
	}
}